<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css"/>
	  <script type="text/javascript" src='js/vue.js'></script>
    <script type="text/javascript" src='js/axios.js'></script>
    <script type="text/javascript" src='js/index.js'></script>
</head>
<body>
    <div id="my" >
      <div class="panel panel-info" style="margin:20px;">
         <!-- 头部 -->
        <div class="panel-heading">
            <h1 style="display: inline-block;">我的购物清单列表</h1>
            <span>清单总数
              <span class="label label-warning" >{{lists.length}}</span>
            </span>
            <span>未采购数
              <span class="label label-warning" >{{notPurchaseNum()}}</span>
            </span>
        </div>
        <!-- 内容 -->
        <div class="panel-body">
            <div class="input-group">
              <input class="form-control" type="text" v-model="name"/>
              <span class="input-group-btn">
                <button class="btn btn-primary" v-on:click="add(name)">添加</button>
              </span>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>清单名称</th>
                  <th>已采购</th>
                  <th>状态</th>
                  <th>删除</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in showList">
                  <td>{{serialNum(index)}}</td>
                  <td>{{item.name}}</td>
                  <td><input type="checkbox" v-model="item.purchased"></td>
                  <td>{{item.purchased | stateFilter}}</td>
                  <td><button type="button" class="btn btn-danger btn-sm" @click="del(index)" :disabled="!item.purchased">删除</button></td>
                </tr>
              </tbody>
            </table>
        </div>
         <!--分页-->
          <nav aria-label="Page navigation">
              <ul class="pagination">
                  <li @click="pagePre" :class="{disabled:page.showPageNum<=1}">
                      <a href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  <li v-for="index in page.total" @click="pageTurn(index)" :class="{active:index===page.showPageNum}"><a href="#">{{index}}</a></li>
                  <li @click="pageNext" :class="{disabled:page.showPageNum>=page.total}">
                      <a href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>

    </div>
</body>
<style>
</style>
</html>
